In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

Q1

In [78]:
a = [1,2]
b = [3,4]
a.extend(b) ; a

[1, 2, 3, 4]

Q2

In [80]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Q3

In [22]:
df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

Q4

In [81]:
df.describe()['fuel_mmbtu_per_unit']

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Q5

In [26]:
df.fuel_qty_burned.skew(), df.fuel_qty_burned.kurtosis()

(15.851495469109503, 651.3694501337732)

Q6

In [38]:
df.isnull().sum()/df.shape[0]

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.006097
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

Q7

In [82]:
df.fuel_unit.dtype

dtype('O')

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

Q8

In [41]:
df.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

Q9

In [62]:
pd.crosstab(df.report_year, df.fuel_type_code_pudl, values = df.fuel_cost_per_unit_burned, aggfunc=np.sum)

fuel_type_code_pudl,coal,gas,nuclear,oil,other,waste
report_year,,,,,,
1994,14984.572,10792.496,227983.354,9362.194,116.737,52.762
1995,14571.785,9087.905,384152.639,17858.281,183.577,-192.699
1996,12694.803,1467.390,66657.887,5357.028,160.075,88.092
1997,43742.178,1518.471,112593.911,5387.536,153.923,137.433
1998,11902.597,7475.596,117788.269,2608.657,225.428,238.109
1999,16303.468,16767.895,62915.808,29654.510,271.579,143.025
2000,100428.831,10024.878,112375.382,104055.470,100.014,-489.141
2001,15109.012,10360.348,59292.078,95315.421,71.283,217.499
2002,9171.164,3584.279,59958.884,48956.627,-4.257,254.438
2003,30954.110,7170.143,59591.536,51349.250,-51.286,161.973
2004,9632.063,5019.023,61870.002,107669.303,174.796,272.512
2005,11107.182,3833.652,94192.368,26401.284,76.196,313.457
2006,12402.684,3598.417,141240.473,30285.707,190.904,423.847
2007,12965.171,3867.366,154945.333,83766.316,143.112,427.014
2008,14331.348,16087.669,226552.820,56654.223,211.940,474.022
2009,45554.858,11193.089,172823.881,33068.327,204.527,739.884
2010,88627.745,4240.494,202133.032,35503.392,321.647,755.157
2011,17001.015,3264.968,229824.926,123477.065,89.717,517.912
2012,17546.097,3420.876,240648.791,59263.866,224.123,589.791
2013,17629.860,2982.281,243192.226,42336.964,182.494,609.411
2014,15412.197,4169.285,229158.129,268670.603,0.661,591.594
2015,13338.235,6224.304,208830.486,31038.094,0.595,629.270
2016,11100.925,1994.266,213837.559,28012.376,0.609,539.079
2017,10254.284,4424.244,197491.493,31935.723,NaN,452.079
2018,9488.197,4322.494,173267.161,33836.602,NaN,660.972

In [76]:
round((((11902.597 - 14984.572)/14984.572) * 100))

-21

Q10

In [86]:
df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64