In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('energydata_complete.csv'); df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Attribute Information:

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â °C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

To answer some questions, you will need to normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a  random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set.

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression

In [16]:
X = df.T2
y = df.T6

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .3, random_state = 42)

In [18]:
M =MinMaxScaler()

In [22]:
X_train_scaled =  M.fit_transform(X_train.values.reshape(-1,1))
X_test_scaled = M.transform(X_test.values.reshape(-1,1))

In [24]:
lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

LinearRegression()

In [35]:
r2_score(y_train, lr.predict(X_train_scaled)), r2_score(y_test, lr.predict(X_test_scaled))

(0.6415148739809167, 0.6427789637197382)

In [27]:
mean_absolute_error(y_train, lr.predict(X_train_scaled)), mean_absolute_error(y_test, lr.predict(X_test_scaled))

(2.846005383959966, 2.8229401131313034)

In [29]:
mean_squared_error(y_train, lr.predict(X_train_scaled)), mean_squared_error(y_test, lr.predict(X_test_scaled))

(13.326418069484918, 13.17918794078674)

In [80]:
np.sqrt(13.17918794078674)

3.630315129680444

In [33]:
np.sum((y_train - lr.predict(X_train_scaled))**2), np.sum((y_test - lr.predict(X_test_scaled))**2)

(184091.13921186465, 78033.97179739829)

In [ ]:
#######################################`

In [62]:
X= df.drop(['Appliances', 'date'], axis = 1)
y = df.Appliances

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .3, random_state = 42)

In [64]:
M = MinMaxScaler()

In [65]:
scale_cols = X_train.columns[1:]
scale_cols2 = X_test.columns[1:]

In [45]:
X_train[scale_cols] = M.fit_transform(X_train[scale_cols])
X_test[scale_cols2] = M.transform(X_test[scale_cols2])

C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\dell\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
C:\Users\dell\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\dell\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [70]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [72]:
mean_absolute_error(y_train, lr.predict(X_train)), mean_absolute_error(y_test, lr.predict(X_test))

(53.02812302524108, 52.925387279700516)

In [86]:
mean_squared_error(y_train, lr.predict(X_train)), np.sqrt(mean_squared_error(y_test, lr.predict(X_test)))

(8869.906291466978, 92.62636310967713)

In [78]:
r2_score(y_train, lr.predict(X_train)), r2_score(y_test, lr.predict(X_test))

(0.16322079632540742, 0.17)

In [79]:
np.sum((y_train - lr.predict(X_train))**2), np.sum((y_test - lr.predict(X_test))**2)

(122528885.51032484, 50800067.0492634)

In [83]:
pd.DataFrame(lr.coef_, index = X.columns)

                     0
lights        1.994671
T1           -1.160845
RH_1         15.385144
T2          -15.829824
RH_2        -12.788160
T3           25.755817
RH_3          4.682500
T4           -3.833586
RH_4         -0.907029
T5           -1.605456
RH_5          0.163613
T6            6.826409
RH_6          0.355468
T7            1.532704
RH_7         -1.395509
T8            7.899227
RH_8         -4.536890
T9          -14.424061
RH_9         -1.194460
T_out       -10.525995
Press_mm_hg   0.193566
RH_out       -1.232168
Windspeed     1.809643
Visibility    0.173240
Tdewpoint     5.528923
rv1           0.019591
rv2           0.019591

In [88]:
from sklearn.linear_model import Ridge, Lasso

In [85]:
Ridge = Ridge(alpha = 0.4)
Ridge.fit(X_train, y_train)

Ridge(alpha=0.4)

In [87]:
mean_squared_error(y_train, Ridge.predict(X_train)), np.sqrt(mean_squared_error(y_test, Ridge.predict(X_test)))

(8869.906298893926, 92.62640397158891)

In [90]:
lasso = Lasso(alpha =  0.001)
lasso.fit(X_train, y_train)

C:\Users\dell\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:531: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6148727.113376692, tolerance: 14642.917148544962
  positive)

Lasso(alpha=0.001)

In [91]:
lasso.coef_

array([ 1.99472472e+00, -1.15843017e+00,  1.53841943e+01, -1.58252199e+01,
       -1.27853777e+01,  2.57506302e+01,  4.68079427e+00, -3.83343150e+00,
       -9.06477504e-01, -1.60724195e+00,  1.63620838e-01,  6.82319811e+00,
        3.55250347e-01,  1.52622474e+00, -1.39502867e+00,  7.89687960e+00,
       -4.53725544e+00, -1.44148860e+01, -1.19414539e+00, -1.05116571e+01,
        1.93484564e-01, -1.22973238e+00,  1.80979279e+00,  1.73207451e-01,
        5.51585221e+00,  3.91706710e-02,  3.95011037e-17])

In [93]:
mean_squared_error(y_train, lasso.predict(X_train)), np.sqrt(mean_squared_error(y_test, lasso.predict(X_test)))

(8869.90636687173, 92.62635523902635)